//small screen

@include mediaSmall {

	.navbar-menu {
		flex-direction: column;
		align-items: flex-end;
		position: fixed;
		height: 168px;
		top: -200px;
		-webkit-transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		animation: none;
		
		&.show {
			top: 57px;
		}
	}

	.menu-item {
			width: 137px;
			margin-right: 8%;
			padding-right: 6px;
			justify-content: flex-end;
	}

	.navbar-burger {
		display: flex;
	}

	.navbar-brand {
		animation: menu-brand-downsize cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s;
	}

	.overlay {
		top: -100vh;
		-webkit-transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

		&.show {
			top:0;
		}
	}

	.banner-text {
		font-size: 7vw;
	}

	.banner-svg {
		width: 20vw;
		height: 20vw;
	}

	.banner-projects-button {
		font-size: 9vw;
	}

	.section1-right {
	
	}

	.outer-circle-svg, .smaller-circle-svg, .portrait-svg {
		width: 40%;
	}

	// .section {
	// 	height: calc(100vh - 2.5rem);
	// }


	// header {
	// 	align-items: center;
	// 	justify-content: center;
	// 	padding: 1rem;
	// }

	// .main__section-one,
	// .main__section-two-b,
	// .main__section-two,
	// .main__section-three,
	// .main__section-four,
	// .main__section-five,
	// .main__section-six,
	// .main__section-ten {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	// .main__section-ten__content {
	// 	flex-direction: column;
	// 	justify-content: center;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two-b__content,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	width: 90%;
	// 	text-align: center;
	// }

	// .main__section-one__content__title,
	// .main__section-two__content__title,
	// .main__section-two-b__content__title,
	// .main__section-three__content__title,
	// .main__section-five__content__title,
	// .main__section-six__content__title,
	// .main__section-ten__content__title {
	// 	font-size: 1rem;
	// }

	// .main__section-one__picture__profile-pic,
	// .main__section-two__picture__image,
	// .main__section-two-b__picture__image,
	// .main__section-three__picture__image,
	// .main__section-five__picture__image,
	// .main__section-six__picture__image {
	// 	width: 90%;
	// 	margin: 3rem;
	// }

	// .main__section-two-b__content__text-container {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	// .main__section-one__content__text-container-text,
	// .main__section-two__content__text-container-text,
	// .main__section-two-b__content__text-container-text,
	// .main__section-three__content__text-container-text,
	// .main__section-four__content__text-container-text,
	// .main__section-five__content__text-container-text,
	// .main__section-six__content__text-container-text,
	// .main__section-ten__content__text-container-text {
	// 	font-size: 0.5rem;
	// }

	// .links {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	// .button {
	// 	width: 8rem;
	// }

	// .link-icon {
	// 	width: 20px;
	// 	height: 20px;
	// }

	// .devider {
	// 	background-position: center;
	// }
}

//medium screen

@include mediaMedium {

	.navbar {
		height: 4rem;
	}

	.navbar-brand {
		font-size: 2rem;
		
	}

	.navbar-img {
		width: 36px;
		height: 36px;
	}

	.navbar-burger {
		display: none;
	}

	.overlay {
		display: none;
	}

	.banner-text {
		font-size: 4vw;
	}

	.banner-svg {
		width: 15vw;
		height: 15vw;
	}

	.banner-projects-button {
		font-size: 5vw;
	}

	.section1-right {

	}

	.section1-content {
		font-size: 0.8rem;
	}


	.outer-circle-svg, .smaller-circle-svg, .portrait-svg {
		width: 40%;
	}

	// .section {
	// 	height: calc(100vh - 4rem);
	// }


	// header {
	// 	align-items: flex-start;
	// 	padding: 2rem;
	// }

	// .header-title {
	// 	font-size: 3rem;
	// }

	// .header-subtitle {
	// 	font-size: 1.5rem;
	// }

	// .main__section-one,
	// .main__section-two,
	// .main__section-two-b,
	// .main__section-three,
	// .main__section-four,
	// .main__section-five,
	// .main__section-six,
	// .main__section-ten {
	// 	display: flex;
	// 	flex-direction: row;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two-b__content,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	width: 50%;
	// 	padding: 2rem;
	// }

	// .main__section-ten__content {
	// 	flex-direction: row;
	// 	justify-content: space-evenly;
	// }

	// .main__section-one__content__title {
	// 	font-size: 1.5rem;
	// }

	// .main__section-one__picture__profile-pic,
	// .main__section-two__picture__profile-pic,
	// .main__section-two-b__picture__profile-pic,
	// .main__section-three__picture__profile-pic,
	// .main__section-five__picture__profile-pic,
	// .main__section-six__picture__profile-pic {
	// 	width: 70%;
	// }

	// .main__section-one__content__text-container-text {
	// 	font-size: 75%;
	// }

	// .links {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	// .button {
	// 	width: 13rem;
	// }

	// .devider {
	// 	background-position: center;
	// }
}

//large screen

@include mediaLarge {

	.navbar {
		height: 4rem;
	}

	.navbar-brand {
		font-size: 2rem;
	}

	.navbar-img {
		width: 36px;
		height: 36px;
	}

	.navbar-burger {
		display: none;
	}

	.overlay {
		display: none;
	}

	.banner-text {
		font-size: 4vw;
	}

	.banner-svg {
		width: 8vw;
		height: 8vw;
	}

	.banner-projects-button {
		font-size: 5vw;
	}

	.section1-right {
	
	}

	.section1-content {
		font-size: 1rem;
	}

	.outer-circle-svg, .smaller-circle-svg, .portrait-svg {
		width: 35%;
	}


	// .section {
	// 	height: calc(100vh - 4rem);
	// }

	// header {
	// 	align-items: flex-start;
	// 	padding: 3rem;
	// }

	// .header-title {
	// 	font-size: 5rem;
	// }

	// .header-subtitle {
	// 	font-size: 2rem;
	// }

	// .main__section-one,
	// .main__section-two,
	// .main__section-two-b,
	// .main__section-three,
	// .main__section-four,
	// .main__section-five,
	// .main__section-six,
	// .main__section-ten {
	// 	display: flex;
	// 	flex-direction: row;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two-b__content,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	width: 50%;
	// 	padding: 2rem;
	// }

	// .main__section-ten__content {
	// 	flex-direction: row;
	// 	justify-content: space-evenly;
	// }

	// .main__section-one__content__title {
	// 	font-size: 3rem;
	// }

	// .links {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	// .button {
	// 	width: 13rem;
	// }
}

