//small screen

@include mediaSmall {

	.navbar-menu {
		display: none;
	}

	.navbar-burger {
		display: flex;
	}

	.navbar-brand {
		animation: menu-brand-downsize cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s;
	}

	// header {
	// 	align-items: center;
	// 	justify-content: center;
	// 	padding: 1rem;
	// }

	// .main__section-one,
	// .main__section-two-b,
	// .main__section-two,
	// .main__section-three,
	// .main__section-four,
	// .main__section-five,
	// .main__section-six,
	// .main__section-ten {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	// .main__section-ten__content {
	// 	flex-direction: column;
	// 	justify-content: center;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two-b__content,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	width: 90%;
	// 	text-align: center;
	// }

	// .main__section-one__content__title,
	// .main__section-two__content__title,
	// .main__section-two-b__content__title,
	// .main__section-three__content__title,
	// .main__section-five__content__title,
	// .main__section-six__content__title,
	// .main__section-ten__content__title {
	// 	font-size: 1rem;
	// }

	// .main__section-one__picture__profile-pic,
	// .main__section-two__picture__image,
	// .main__section-two-b__picture__image,
	// .main__section-three__picture__image,
	// .main__section-five__picture__image,
	// .main__section-six__picture__image {
	// 	width: 90%;
	// 	margin: 3rem;
	// }

	// .main__section-two-b__content__text-container {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	// .main__section-one__content__text-container-text,
	// .main__section-two__content__text-container-text,
	// .main__section-two-b__content__text-container-text,
	// .main__section-three__content__text-container-text,
	// .main__section-four__content__text-container-text,
	// .main__section-five__content__text-container-text,
	// .main__section-six__content__text-container-text,
	// .main__section-ten__content__text-container-text {
	// 	font-size: 0.5rem;
	// }

	// .links {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	// .button {
	// 	width: 8rem;
	// }

	// .link-icon {
	// 	width: 20px;
	// 	height: 20px;
	// }

	// .devider {
	// 	background-position: center;
	// }
}

//medium screen

@include mediaMedium {

	.navbar {
		height: 4rem;
	}

	.navbar-brand {
		font-size: 2rem;
		
	}

	.navbar-img {
		width: 36px;
		height: 36px;
	}

	.navbar-menu {
		display: flex;
	}

	.navbar-burger {
		display: none;
	}

	

	// header {
	// 	align-items: flex-start;
	// 	padding: 2rem;
	// }

	// .header-title {
	// 	font-size: 3rem;
	// }

	// .header-subtitle {
	// 	font-size: 1.5rem;
	// }

	// .main__section-one,
	// .main__section-two,
	// .main__section-two-b,
	// .main__section-three,
	// .main__section-four,
	// .main__section-five,
	// .main__section-six,
	// .main__section-ten {
	// 	display: flex;
	// 	flex-direction: row;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two-b__content,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	width: 50%;
	// 	padding: 2rem;
	// }

	// .main__section-ten__content {
	// 	flex-direction: row;
	// 	justify-content: space-evenly;
	// }

	// .main__section-one__content__title {
	// 	font-size: 1.5rem;
	// }

	// .main__section-one__picture__profile-pic,
	// .main__section-two__picture__profile-pic,
	// .main__section-two-b__picture__profile-pic,
	// .main__section-three__picture__profile-pic,
	// .main__section-five__picture__profile-pic,
	// .main__section-six__picture__profile-pic {
	// 	width: 70%;
	// }

	// .main__section-one__content__text-container-text {
	// 	font-size: 75%;
	// }

	// .links {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	// .button {
	// 	width: 13rem;
	// }

	// .devider {
	// 	background-position: center;
	// }
}

//large screen

@include mediaLarge {

	.navbar {
		height: 4rem;
	}

	.navbar-brand {
		font-size: 2rem;
	}

	.navbar-img {
		width: 36px;
		height: 36px;
	}

	.navbar-menu {
		display: flex;
	}

	.navbar-burger {
		display: none;
	}

	// header {
	// 	align-items: flex-start;
	// 	padding: 3rem;
	// }

	// .header-title {
	// 	font-size: 5rem;
	// }

	// .header-subtitle {
	// 	font-size: 2rem;
	// }

	// .main__section-one,
	// .main__section-two,
	// .main__section-two-b,
	// .main__section-three,
	// .main__section-four,
	// .main__section-five,
	// .main__section-six,
	// .main__section-ten {
	// 	display: flex;
	// 	flex-direction: row;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two-b__content,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	width: 50%;
	// 	padding: 2rem;
	// }

	// .main__section-ten__content {
	// 	flex-direction: row;
	// 	justify-content: space-evenly;
	// }

	// .main__section-one__content__title {
	// 	font-size: 3rem;
	// }

	// .links {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: center;
	// }

	// .button {
	// 	width: 13rem;
	// }
}
@keyframes menu-brand-downsize {
	from {
		font-size: 2rem;
		
	}

	to {
		font-size: 1.5rem;
		
	}
}
