//small screen

@include mediaSmall {

	.navbar-menu {
		flex-direction: column;
		align-items: flex-end;
		position: fixed;
		height: 168px;
		top: -200px;
		-webkit-transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		animation: none;
		
		&.show {
			top: 57px;
		}
	}

	.menu-item {
			width: 137px;
			margin-right: 8%;
			padding-right: 6px;
			justify-content: flex-end;
	}

	.navbar-burger {
		display: flex;
	}

	.navbar-brand {
		animation: menu-brand-downsize cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s;
	}

	.overlay {
		top: -100vh;
		-webkit-transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: top 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

		&.show {
			top:0;
		}
	}

	.banner-text {
		font-size: 7vw;
	}

	.banner-svg {
		width: 20vw;
		height: 20vw;
	}

	.banner-projects-button {
		font-size: 9vw;
	}

	.section1 {
		flex-direction: column;
		flex-flow: column-reverse;
	}

	.section1-title {
		font-size: 1rem;
		margin-top: 3rem;
	}

	.section1-subtitle {
		font-size: 1.3rem;
	}

	.portrait-svg {
		min-width: 250px;
		max-width: 44%;
	}

	.outer-circle-svg {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0.25s;
		min-width: 0;
		max-width: 0;

		&.animation {
			min-width: 250px;
			max-width: 44%;
		}
	}

	.smaller-circle-svg {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0.25s;
		min-width: 320px;
		max-width: 55%;
		
		&.animation {
			min-width: 250px;
			max-width: 44%;
		}
	}

	.portrait-svg {
		opacity: 0;
		transition: opacity 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

		&.animation {
			opacity: 1;
		}
	}

	.shadow-svg {
		opacity: 1;
			transition: opacity 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
			min-width: 250px;
			max-width: 44%;
			z-index: 10;

			&.animation {
				opacity: 0;
			}
	}

	
	.footer {
		min-height: 367px;
		height: 55vw;
	}

	.footer-content {
		flex-direction: column;
	}

	.footer-title {
		font-size: 2rem;
	}

	.footer-brand {
		font-size: 1.5rem;
	}

	.footer-img {
		width: 32px;
		height: 29px;
		margin-top: -1px;
		margin-right: 0.1rem;
	}

	
	.footer-copy-popup {

		&.show-message {
			top: -1.3rem;
		}
	}

	.carousel {
		background-size: 100%;
		background-position-y: 15%;
	}

	.carousel-block {
		background: linear-gradient(0deg, rgba(30,30,30,1) 44%, rgba(30,30,30,0.1) 80%);
	}

	.carousel-space {
		flex-basis: 50%;
	}

	.carousel-wrapper {
		flex-basis: 50%;
		padding: 8%;
	}

	.carousel-wrapper-date {
		font-size: 0.6rem;
	}

	.carousel-wrapper-title {
		font-size: 1.3rem;
	}

	.carousel-wrapper-info {
		font-size: 1rem;
	
	}

	.carousel-wrapper-text {
		font-size: 0.6rem;
	}

	.carousel-href {
		font-size: 1rem;
	}

	.carousel-svg {
		width: 28px;
		height: 28px;
	}

	.carousel-left-caret, .carousel-right-caret {
		top: 85%;
	}
}

//medium screen

@include mediaMedium {

	.navbar {
		height: 4rem;
	}

	.navbar-brand {
		font-size: 2rem;
		
	}

	.navbar-img {
		width: 36px;
		height: 36px;
	}

	.navbar-burger {
		display: none;
	}

	.overlay {
		display: none;
	}

	.banner-text {
		font-size: 4vw;
	}

	.banner-svg {
		width: 15vw;
		height: 15vw;
	}

	.banner-projects-button {
		font-size: 5vw;
	}

	.section1 {
		flex-direction: row;
	}

	.section1-title {
		font-size: 1.2rem;
	}

	.section1-subtitle {
		font-size: 2rem;
	}

	.section1-content {
		font-size: 0.8rem;
	}

	.portrait-svg {
		min-width: 250px;
		max-width: 44%;
	}

	.outer-circle-svg {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0.25s;
		min-width: 0;
		max-width: 0;

		&.animation {
			min-width: 250px;
			max-width: 44%;
		}
	}

	.smaller-circle-svg {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0.25s;
		min-width: 500px;
		max-width: 55%;
		
		&.animation {
			min-width: 250px;
			max-width: 45%;
		}
	}

	.portrait-svg {
		opacity: 0;
		transition: opacity 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

		&.animation {
			opacity: 1;
		}
	}

	.shadow-svg {
		opacity: 1;
			transition: opacity 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
			max-width: 88%;
			z-index: 10;

			&.animation {
				opacity: 0;
			}
	}

	.footer {
		min-height: 12rem;
		height: 25vw;
	}

	
	.footer-copy-popup {

		&.show-message {
			top: 0rem;
			left: -9rem;
		}
	}

	.carousel {
		background-size: 100%;
		background-position-y: 25%;
	}

	.carousel-block {
		background: linear-gradient(0deg, rgba(30,30,30,1) 25%, rgba(30,30,30,0.1) 60%);
	}

	.carousel-space {
		flex-basis: 65%;
	}

	.carousel-wrapper {
		flex-basis: 35%;
		padding: 5%;
	}

	.carousel-wrapper-date {
		font-size: 0.8rem;
	}

	.carousel-wrapper-title {
		font-size: 2rem;
	}

	.carousel-wrapper-info {
		font-size: 1.2rem;
	
	}

	.carousel-wrapper-text {
		font-size: 0.8rem;
	}

	.carousel-href {
		font-size: 1rem;
	}

	.carousel-svg {
		width: 28px;
		height: 28px;
	}
}

//large screen

@include mediaLarge {

	.navbar {
		height: 4rem;
	}

	.navbar-brand {
		font-size: 2rem;
	}

	.navbar-img {
		width: 36px;
		height: 36px;
	}

	.navbar-burger {
		display: none;
	}

	.overlay {
		display: none;
	}

	.banner-text {
		font-size: 4vw;
	}

	.banner-svg {
		width: 8vw;
		height: 8vw;
	}

	.banner-projects-button {
		font-size: 5vw;
	}

	.section1 {
		flex-direction: row;
	}

	.section1-title {
		font-size: 1.2rem;
	}

	.section1-subtitle {
		font-size: 2rem;
	}

	.section1-content {
		font-size: 1rem;
	}

	 .portrait-svg {
		min-width: 250px;
		max-width: 35%;
	}

	.outer-circle-svg {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0.25s;
		min-width: 0;
		max-width: 0;

		&.animation {
			min-width: 250px;
			max-width: 35%;
		}
	}

	.smaller-circle-svg {
		transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0.25s;
		min-width: 500px;
		max-width: 45%;
		
		&.animation {
			min-width: 250px;
			max-width: 35%;
		}
	}

	.portrait-svg {
		opacity: 0;
		transition: opacity 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);

		&.animation {
			opacity: 1;
		}
	}

	.shadow-svg {
		opacity: 1;
		transition: opacity 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
		max-width: 70%;
		z-index: 10;
		
		&.animation {
			opacity: 0;
		}
	}

	.footer {
		height: 17vw;
	}

	.footer-copy-popup {

		&.show-message {
			top: 0rem;
			left: -9rem;
		}
	}

	.carousel {
		background-size: cover;
	}

	.carousel-block {
		background: linear-gradient(0deg, rgba(30,30,30,1) 15%, rgba(30,30,30,0.1) 40%);
	}

	.carousel-space {
		flex-basis: 70%;
	}

	.carousel-wrapper {
		flex-basis: 30%;
		padding: 5%;
	}

	.carousel-wrapper-date {
		font-size: 1rem;
	}

	.carousel-wrapper-title {
		font-size: 2rem;
	}

	.carousel-wrapper-info {
		font-size: 1.2rem;
	
	}

	.carousel-wrapper-text {
		font-size: 1rem;
	}

	.carousel-href {
		font-size: 1.2rem;
	}

	.carousel-svg {
		width: 36px;
		height: 36px;
	}
}
