@import "config", "properties";

body {
	height: 100%;
	font-size: 1rem;
	font-family: $primary-font;
	background-color: $background-color;
	margin: unset;
}

	.navbar {
		position: fixed;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 2.5rem;
		background-color: $background-color;
		opacity: 1;
		z-index: 4;
		top: 0;
	}
	
	.navbar-brand {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
		font-weight: bold;
		color: $primary-color;
		margin-left: 5%;
		animation: open-menu-rolldown cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s;
	}

	.navbar-brand:hover {
		color: $secondary-color;
	}

	.navbar-brand:active {
		transform: scale(1.1)
	}

	.navbar-img {
		width: 32px;
		height: 29px;
		margin-right: 0.1rem;
		margin-top: 1.5px;
	}

	.navbar-menu {
		display: flex;
		flex-direction: row;
		justify-content: right;
		width:100%;
		margin-right: 5%;
		animation: open-menu-rolldown cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s;
	}

	.menu-item {
		display: flex;
		align-items: center;
		font-size: 2rem;
		margin-left: 2rem;
		color: $primary-color;
		transition: transform .1s linear;
	}

	.menu-item:hover {
		color: $secondary-color;
	}

	.menu-item:active {
		transform: scale(1.1)
	}

	.navbar-burger {
		align-items: center;
		justify-content: right;
		width:100%;
		margin-right: 8%;
	}

	.navbar-burger-button {
		background: none;
		border: none;
		cursor: pointer;
		margin-top: 7px;
		transform:scale(1.5);

		&.close {
			transform: rotate(180deg) scale(1.5);
		}
	}

	.navbar-burger-button:hover div{
		background: $secondary-color;
	}


	.navbar-burger-button:active {
		transform: scale(1.1)
	}
	
	.navbar-burger-bar {
		position: relative;
		width: 20px;
		height: 3px;
		margin-bottom: 4px;
		background: $primary-color;
		border-radius: 2px;

		&.show {
			transition: transform 650ms cubic-bezier(0.23, 1, 0.32, 1);
		
			&:nth-child(1) {
				top: 11px;
				width: 23px;
				transform: rotate(1125deg) ;
			  }

			&:nth-child(2) {
				opacity: 0;
			  }

			&:nth-child(3) {
				width: 23px;
				bottom: 3px;
				transform: rotate(1035deg) ;
			  }
		}
	}

	.main {
		position: absolute;
		width: 100%;
	}

	.overlay {
		position: fixed;
		width: 100%;
		height: 100vh;
		background-color: $background-color;
		opacity: 0.85;
		z-index: 3;
	}

	.banner {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width:100%;
		height: 100vh;
		background: linear-gradient(-110deg, rgb(30, 30, 30), rgb(7, 7, 80),rgb(78, 7, 80), rgb(182, 91, 34));
		background-size: 400% 400%;
		animation: gradient 50s ease infinite;
		z-index: -1;
	}

	.banner-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin-top: 5%;
	}

	.banner-content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.banner-text {
		text-align: center;
		color: $primary-color;
		margin: 1rem;
	}

	.banner-svg:hover {
		animation: svg-move 2s infinite;
	}

	.banner-button-container {
		display: flex;
		justify-content: center;
		margin-top: 4rem;;	
	}

	.banner-projects-button {
		background: none;
		border: none;
		cursor: pointer;
		font-size: 5vw;
		font-weight: bolder;
		color: $secondary-color;
		transition: transform .1s linear;
	}

	.banner-projects-button:hover {
		transform: scale(1.1)
	}

	.section {
		position:relative;
        min-height:100%;
        z-index: 2;
		width: 100%;
		background-color: $background-color;
		height: 100vh;
	}

	.section1 {
		display: flex;
		flex-direction: row;
		margin-top: 100vh;
	}

	.section1-left {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-basis: 50%;
		background-color: $background-color;

		.outer-circle-svg, .smaller-circle-svg, .portrait-svg {
			position: absolute;
		}

		.outer-circle-svg {

		}

		.smaller-circle-svg {
		
		}

		.portrait-svg {
			
		}
	}

	.section1-right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-basis: 50%;
		background-color: $background-color-darker;
	}

	.section1-title {
		color: $primary-color;
		font-size: 1rem;
	}

	.section1-subtitle {
		color: $secondary-color;
		font-size: 2rem;
	}

	.section1-content {

	}

	.section1-text {
		color: $primary-color;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.intersection {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $darken-light;
		height: 25vh;
		font-size: larger;
	}

	
	

	// .page-container {
	// 	display:flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// 	background: linear-gradient(
	// 		90deg,
	// 		rgba(237, 246, 249, 0.2553396358543417) 20%,
	// 		rgba(149, 152, 186, 1) 100%,
	// 		rgba(30, 1, 34, 1) 100%,
	// 		rgba(101, 68, 110, 1) 100%
	// 	);
	// }

	// header {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	width: 75%;
		
	// }

	// .header-wrapper {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }

	// .header-title {
	// 	font-family: $header-title;
	// }

	// .h2 {
	// 	font-family: $header-title;
	// }

	// .main {
	// 	width: 97%;
	// }

	// .main__section-one, .main__section-two, .main__section-two-b, .main__section-three, .main__section-four, .main__section-five, .main__section-six, .main__section-ten__content {
	// 	box-shadow: 10px 10px 25px -5px $text-dark;
	// 	margin-bottom: 1rem;
	// }

	// .main__section-one {
	// 	background-color: $primary-color;
	// }

	// .main__section-two {
	// 	background: $secondary-color;
	// }

	// .main__section-two-b {
	// 	background-color: $primary-color;
	// }

	// .main__section-three {
	// 	background: $secondary-color;
	// }

	// .main__section-five {
	// 	background-color: $primary-color;
	// }

	// .main__section-six {
	// 	background: $secondary-color;
	// }

	// .main__section-one__content,
	// .main__section-two__content,
	// .main__section-two__content-b,
	// .main__section-three__content,
	// .main__section-five__content,
	// .main__section-six__content {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// }

	// .main__section-two__content {
	// 	margin-bottom: 2rem;
	// }

	// .main__section-four__content {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// 	justify-content: center;
	// 	background-color: $text-dark;
	// 	width: 100%;
	// }

	// .main__section-ten__content {
	// 	display: flex;
	// 	align-items: center;
	// 	height: 15rem;
	// 	background-color: $text-dark;
	// 	width: 100%;
	// }

	// .main__section-four__content {
	// 	height: 10rem;
	// }

	// .main__section-one__content__title {
	// 	margin-top: 2rem;
	// }

	// .main__section-ten__content__title {
	// 	color: $background-color;
	// }

	// .main__section-four__content__text-container-text,
	// .main__section-ten__content__text-container-text {
	// 	text-align: center;
	// 	color: $background-color;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	// .main__section-two__picture,
	// .main__section-two-b__picture,
	// .main__section-three__picture,
	// .main__section-five__picture,
	// .main__section-six__picture {
	// 	max-width: 50%;
	// }

	// .main__section-one__picture,
	// .main__section-two__picture,
	// .main__section-two-b__picture,
	// .main__section-three__picture,
	// .main__section-five__picture,
	// .main__section-six__picture {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	// .main__section-one__picture__profile-pic {
	// 	border: 0.7px grey solid;
	// 	margin: 3rem;
	// 	max-width: 40%;
	// }

	// .main__section-two__picture__image,
	// .main__section-two-b__picture__image,
	// .main__section-three__picture__image,
	// .main__section-five__picture__image,
	// .main__section-six__picture__image {
	// 	max-width: 75%;
	// 	border: 0.7px grey solid;
	// 	margin: 3rem;
	// 	opacity: $background-opacity;
	// 	box-shadow: 10px 10px 45px $text-dark;
	// }

	// .button {
	// 	align-items: center;
	// 	background-color: #ffffff;
	// 	border: 1px solid rgba(0, 0, 0, 0.1);
	// 	border-radius: 0.25rem;
	// 	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	// 	box-sizing: border-box;
	// 	color: rgba(0, 0, 0, 0.85);
	// 	cursor: pointer;
	// 	font-family: $header-title;
	// 	font-size: 16px;
	// 	justify-content: center;
	// 	line-height: 1.25;
	// 	margin-bottom: 1rem;
	// 	min-height: 3rem;
	// 	transition: all 250ms;
	// }

	// .button:hover,
	// .button:focus {
	// 	border-color: rgba(0, 0, 0, 0.15);
	// 	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	// 	color: rgba(0, 0, 0, 0.65);
	// }

	// .button:hover {
	// 	transform: translateY(-1px);
	// }

	// .button:active {
	// 	background-color: #f0f0f1;
	// 	border-color: rgba(0, 0, 0, 0.15);
	// 	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
	// 	color: rgba(0, 0, 0, 0.65);
	// 	transform: translateY(0);
	// }

	// .link {
	// 	cursor: pointer;
	// 	margin-right: 1rem;
	// }

	// .link-pic {
	// 	width: 90px;
	// }

	// .contact-wrapper {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: center;
	// 	align-items: center;
	// }

	// .link-icon:hover {
	// 	transform: translateY(-1px);
	// }

@import "media";
