@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
a {
  text-decoration: none; }

body {
  font-size: 1rem;
  font-family: "Francois One", sans-serif;
  background-color: #1e1e1e;
  margin: unset; }

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem; }

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fefefe;
  margin-left: 8%; }

.navbar-img {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem; }

.navbar-burger-menu {
  flex-direction: column;
  align-items: center; }

.navbar-open-menu {
  flex-direction: row;
  justify-content: right;
  width: 100%;
  margin-right: 8%; }

.navbar-href {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 2rem;
  color: #fefefe; }

@media screen and (max-width: 800px) {
  .navbar-open-menu {
    display: none; }
  .navbar-burger-menu {
    display: flex; } }

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .navbar {
    height: 4rem; }
  .navbar-brand {
    font-size: 2rem; }
  .navbar-img {
    width: 36px;
    height: 36px; }
  .navbar-open-menu {
    display: flex; }
  .navbar-burger-menu {
    display: none; } }

@media screen and (min-width: 1281px) {
  .navbar {
    height: 4rem; }
  .navbar-brand {
    font-size: 2rem; }
  .navbar-img {
    width: 36px;
    height: 36px; }
  .navbar-open-menu {
    display: flex; }
  .navbar-burger-menu {
    display: none; } }
