@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
:root a {
  text-decoration: none; }

body {
  font-size: 1rem;
  font-family: "Francois One", sans-serif;
  background-color: #1e1e1e;
  margin: unset; }

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2.5rem; }

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fefefe;
  margin-left: 8%;
  animation: open-menu-rolldown cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s; }

.navbar-brand:hover {
  color: #ff914b; }

.navbar-brand:active {
  transform: scale(1.1); }

.navbar-img {
  width: 32px;
  height: 29px;
  margin-right: 0.1rem; }

.navbar-menu {
  flex-direction: row;
  justify-content: right;
  width: 100%;
  margin-right: 8%;
  animation: open-menu-rolldown cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s; }

.navbar-href {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 2rem;
  color: #fefefe;
  transition: transform .1s linear; }

.navbar-href:hover {
  color: #ff914b; }

.navbar-href:active {
  transform: scale(1.1); }

.navbar-burger {
  align-items: center;
  justify-content: right;
  width: 100%;
  margin-right: 8%; }

.navbar-burger-button {
  background: none;
  border: none;
  width: 32px;
  height: 29px;
  cursor: pointer; }

.navbar-burger-button:hover {
  color: #ff914b; }

.navbar-burger-button:active {
  transform: scale(1.1); }

.navbar-burger-bar {
  width: 32px;
  height: 7px;
  margin-bottom: 3px;
  background: #fefefe;
  border-radius: 2px; }

@keyframes open-menu-rolldown {
  from {
    margin-top: -200%; }
  to {
    margin-top: 0%; } }

@media screen and (max-width: 800px) {
  .navbar-menu {
    display: none; }
  .navbar-burger {
    display: flex; }
  .navbar-brand {
    animation: menu-brand-downsize cubic-bezier(0.075, 0.82, 0.165, 1) 0.65s; } }

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .navbar {
    height: 4rem; }
  .navbar-brand {
    font-size: 2rem; }
  .navbar-img {
    width: 36px;
    height: 36px; }
  .navbar-menu {
    display: flex; }
  .navbar-burger {
    display: none; } }

@media screen and (min-width: 1281px) {
  .navbar {
    height: 4rem; }
  .navbar-brand {
    font-size: 2rem; }
  .navbar-img {
    width: 36px;
    height: 36px; }
  .navbar-menu {
    display: flex; }
  .navbar-burger {
    display: none; } }

@keyframes menu-brand-downsize {
  from {
    font-size: 2rem; }
  to {
    font-size: 1.5rem; } }
